body{
    text-align: center !important;
    background-color:black !important;

}

h1 { font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; font-size: 50px !important; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }